.card img {
  height: 150px;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#errores {
  font-weight: bold;
}

@media(max-width: 992px) {
  .row {
    flex-direction: column;
  }
}
